:root {
  --dark-primary: #1976D2;
  --default-primary: #2196F3;
  --light-primary: #BBDEFB;
  --text-primary: #FFFFFF;
  --accent: #607D8B;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --list-highlight: #DDDDDD;
}

/* Apply to Everything */

body>*{
  text-align: center;
}

.primary-text{
  color: var(--primary-text);
}

.accent-text{
  color: var(--default-primary);
}

.center {
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.justify{
  text-align: justify;
}

.normal-p p{
  text-align: left;
}

.header{
  padding-top: 0.5em;
  padding-bottom: 0.5em;  
}

.full{
  width: 100%;
  height: 100%;
}

.default-font{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.underline:after{
  transition: all 0.3s;
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;
  border-bottom:1px solid var(--divider);
}

.underline:hover:after{
  transition: all 0.3s;
  content : "";
  position: absolute;
  left    : 10%;
  bottom  : 0;
  height  : 1px;
  width   : 80%;
  border-bottom:1px solid var(--default-primary);
}

.left.underline:after{
  transition: all 0.3s;
  content : "";
  position: absolute;
  left    : 0%;
  bottom  : 0;
  height  : 1px;
  width   : 80%;
  border-bottom:1px solid var(--divider);
}

.left.underline:hover:after{
  transition: all 0.3s;
  content : "";
  position: absolute;
  left    : 0%;
  bottom  : 0;
  height  : 1px;
  width   : 100%;
  border-bottom: 1px solid var(--default-primary);
}